.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    padding: 80px 0;
    text-align: center;
}

.contact img {
    width: 400px;
}

.contact form {
    max-width: 400px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}

.contact input[type="text"],
.contact textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.contact input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 100px;
}

.contact input[type="submit"]:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact form {
        max-width: 300px;
    }

    .contact img {
        display: none;
    }
}