.hero {
    color: #fff;
    background-color: #333;
    background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	overflow: hidden;
	position: relative; 
}

.hero::before, 
.hero::after {
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 30% 30%;
	pointer-events: none; 
}
	
.hero::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 10% 10%; 
}

.hero .bgText {
    text-align: center;
}

.hero h1 {
    animation: fadeInUp 1s forwards;
    opacity: 0;
}

.hero p {
    animation: fadeInUp 1s forwards;
    animation-delay: 300ms;
    opacity: 0;
}