html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Imported with weights 400 and 500 */
    font-weight: 500;
    background-color: #fff;
    color: #333; 
    transition: background-color 0.3s, color 0.3s;
}

a {
    text-decoration: none;
    color: #000000;
}

button { 
    font-family: 'Montserrat', sans-serif;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; 
    }
    100% {
        border-radius: 40% 60%; 
    } 
}

@keyframes spin {
    to {
        transform: rotate(1turn); 
    } 
}