.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    z-index: 1000;
    color: #fff;
    background-color: transparent;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

.topbar.scrolled {
    background-color: #333;
}

.topbar .logo {
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 5px;
    margin-left: 40px;
    user-select: none;
}

.topbar .menu {
    display: flex;
    padding-right: 40px;
    gap: 1em;
}

.topbar .menu a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.topbar .menu a:hover {
    color: #ffc107;
}

/* Underline link animation */
.topbar .menu a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffc107;
    transition: width 0.3s ease; 
}

.topbar .menu a:hover::before {
    width: 100%;
}